{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    .isolation{
        width: 170px;
        height: 160px;
        background-color: white;
        border: 1px solid #D3D3D3;
        border-radius: 50px; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }
    .isolation:hover
    {
        background-color: #ADD8E6;
    }
    .pompeChaleur
    {
        width: 170px;
        height: 160px;
        background-color: white; 
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }
    .pompeChaleur:hover
    {
        background-color:#FFB6C1;
    }
    .solaire
    {
        width: 170px;
        height: 160px;
        background-color: white; 
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }
    .solaire:hover{
        background-color: #8FBC8F;
    }
    .aide{
        width: 170px;
        height: 160px;
        background-color: white; 
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }
    .aide:hover{
        background-color:#FFEFD5;
    }
    #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
        height:650px;

    }
    .demarche{
        width: 170px;
        height: 160px;
        background-color: white;
        border: 1px solid #D3D3D3;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .demarche:hover
    {
        background-color: #ADD8E6;
    }
    .expert
    {
        width: 170px;
        height: 160px;
        background-color: white;
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .expert:hover
    {
        background-color:#FFB6C1;
    }
    .suivi
    {
        width: 170px;
        height: 160px;
        background-color: white;
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .suivi:hover{
        background-color: #8FBC8F;
    }
    .assistance{
        width: 170px;
        height: 160px;
        background-color: white;
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .assistance:hover{
        background-color:#FFEFD5;
    }




    .pompeAChaleur{
        width: 270px;
        height: 260px;
        background-color: white;
        border: 1px solid #D3D3D3;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pompeAChaleur:hover
    {
        background-color: #ADD8E6;
    }
    .ballonThermodynamique
    {
        width: 270px;
        height: 260px;
        background-color: white;
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ballonThermodynamique:hover
    {
        background-color:#FFB6C1;
    }
    .isolationExterieurInterieur
    {
        width: 270px;
        height: 260px;
        background-color: white;
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .isolationExterieurInterieur:hover{
        background-color: #8FBC8F;
    }

    .reno
    {
        width: 100%;
        height: 100%;
        background-image: url('{{ asset("assets/images/maison-style-contemporain-construction.jpg") }}');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        border-radius: 50px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        border-color: gray;

    }
.contain-reno
{
    margin: auto;
    width: 70%;
}
.contain-main-reno{
    width: 100%;
    height: 550px;
    border-radius: 50px;
    text-align: center;
    background-color: #f5f5f5;
    overflow: hidden;
    border-color: gray;
}


.contain-offre{
    margin: auto;
    width: 70%;
}

.contain-main-offre{
    width: 100%;
    height: 300px;
    border-radius: 50px;
    text-align: center;
    background-color: #f5f5f5;
}

.contain-avantage{
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain-main-avantage{
    width: 200%;
    height: auto;
    border-radius: 50px;
    text-align: center;
    background-color: #f5f5f5;
}

    .contain-accompagnement{
        margin: auto;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contain-main-accompagnement{
        width: 100%;
        height: 300px;
        border-radius: 50px;
        text-align: center;
        background-color: #f5f5f5;
        padding-right: 40px;
        padding-left: 40px;
    }
    .contain-map{
        margin: auto;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contain-main-map{
        width: 200%;
        height: 150%;
        border-radius: 50px;
        text-align: center;
        background-color: #f5f5f5;
    }
    /* Ajout de la règle media query pour les écrans de moins de 1200px */
    @media (max-width: 1200px) {
        .contain-reno {
            width: 90%;
        }
        .contain-offre{
            width: 90%;
        }
        .contain-avantage{
            width: 90%;
        }
        .contain-accompagnement{
            width: 90%;
        }
        .contain-map{
            width: 90%;
        }
    }






</style>
{% endblock %}

{% block body %}
{{ include('base.html.twig') }}
<h1 style="text-align:center; color: #1D4851; font-size: 65px;"><b>JS ENERGIE</b></h1>
    <br>

    <h5 style="text-align:center; color: #1D4851; font-size: 30px;"><b>Votre patrimoine énergétique</b></h5>
<br>
<br>
{#    <img src="{{ asset('assets/images/homme-casque-blanc-pres-panneau-solaire.jpg') }}" class="img-top" style="height: 50%; margin-left: 20%;">
    <br>#}
    <div  class="contain-reno">
        <div class="contain-main-reno">
            <div class="reno">
                <h2 style="color: #1D4851;"><b>Rénovation global</b></h2>
                <h4 style="color: RED;"><b>Aide à 1€</b></h4>
{#                <b style="color: #1D4851;">Pompe à chaleur Air/Air ou Air/Eau</b>#}
{#                <b style="color: #1D4851;">Ballon thermodynamique</b>#}
{#                <b style="color: #1D4851;">Isolations thermiques par l'extérieur ou Isolations thermiques intérieures</b>#}
                <br>


                <div style="display: flex; align-items: center; justify-content: center;">
                    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; width: 100%; ">
                <a href="#" style="text-decoration:none; color: black;">
                    <div class="pompeAChaleur">
                        <img src="{{ asset('assets/images/pompe-a-chaleur-removebg-preview.png') }}" style="width: 70%;" class="img-top">
                        <p style="font-size: 15px;"><b>Pompe à chaleur Air/Air ou Air/Eau</b></p>
                    </div>
                </a>

                <a href="#" style="text-decoration:none; color: black;">
                    <div class="ballonThermodynamique">
                        <img src="{{ asset('assets/images/systeme-pompe-chaleur-economie-energie-pompe-chaleur-schematique-energie-verte-geothermie_580339-217.avif') }}" style="width: 70%;" class="img-top">
                        <p style="font-size: 15px;"><b>Ballon thermodynamique</b></p>
                    </div>
                </a>

                <a href="#" style="text-decoration:none; color: black;">
                    <div class="isolationExterieurInterieur">
                        <img src="{{ asset('assets/images/concept-chantier-construction-maison_1308-109483.avif') }}" style="width: 70%; height: 160px;" class="img-top">
                        <p style="font-size:14px;"><b>Isolations thermiques par l'extérieur <br> ou <br> Isolations thermiques intérieures</b></p>
                    </div>
                </a>


            </div>
        </div>
                <br>
                <br>
                <a href="{{ path('app_infos_devis_new_reno_client') }}">  <button type="button" class="btn btn-primary" style="width:300px; height:70px; margin-right:4%; border-radius:50px; background: linear-gradient(to right,#004d00, #66ff66); font-size:15px;  border-color: white;" ><strong>{{"Demander un devis pour une rénovation global" | upper}}</strong></button></a>
    </div>


        </div>
    </div>


{#<br>#}

{#    <div style="margin: auto; width: 70%;">#}
{#        <div style="width: 100%; height: 250px; border-radius: 50px; text-align: center; background-color: #f5f5f5; overflow: hidden;">#}
{#            <div style="width: 150%; height: 100%; background-image: url('{{ asset("assets/images/maison-style-contemporain-construction.jpg") }}');  background-position: center; border-radius: 50px; margin: 0 auto; padding: 20px; box-sizing: border-box;">#}
{#                <h3 style="color: black;">Rénovation global</h3>#}
{#                <br>#}
{#                <h4 style="color: black;">Aide à 1€</h4>#}
{#                <b style="color: black;">Pompe à chaleur Air/Air ou Air/Eau</b>#}
{#                <b style="color: black;">Ballon thermodynamique</b>#}
{#                <b style="color: black;">Isolations thermiques par l'extérieur ou Isolations thermiques intérieures</b>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
<br>
    <br>

<div  class="contain-offre">
    <div class="contain-main-offre">

       <br>
        <h3 style="text-align:center; color: #1D4851; width: 100%; "><b>Voici nos offres</b></h3>
        <br>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; width: 100%; ">

    <a href="{{path ('app_article_index_2')}}" style="text-decoration:none; color: black;">
        <div class="isolation">
            <img src="{{ asset('assets/images/isole.png') }}" style="width: 60%;" class="img-top">
            <p style="font-size: 15px;"><b>Isolation</b></p>
        </div>
    </a>

    <a href="{{path ('app_article_index_3')}}" style="text-decoration:none; color: black;">
        <div class="pompeChaleur">
            <img src="{{ asset('assets/images/pompe-a-chaleur-removebg-preview.png') }}" style="width: 60%;" class="img-top">
            <p style="font-size: 15px;"><b>Pompe à chaleur</b></p>
        </div>
    </a>

    <a href="{{path ('app_article_index_4')}}" style="text-decoration:none; color: black;">
        <div class="solaire">
            <img src="{{ asset('assets/images/solaire-removebg-preview.png') }}" style="width: 65%;" class="img-top">
            <p style="font-size:13px;"><b>Solaire & Photovoltaïque</b></p>
        </div>
    </a>

    <a href="{{path ('app_article_index_5')}}" style="text-decoration:none; color: black;">
        <div class="aide">
            <img src="{{ asset('assets/images/aide-prime.png') }}" style="width: 95%;" class="img-top">
            <p style="font-size: 15px;"><b>Aides & primes</b></p>
        </div>
    </a>

            </div>
        </div>

    </div>
</div>
<br>
<br>

<div  class="contain-avantage">
    <div class="contain-main-avantage">
        <br>
        <h3 style="text-align: center; color: #1D4851;"><b>Comment faire des économies sur l'eau et l'électricité ?</b></h3>
    <br>

        <img src="{{ asset('assets/images/6573.jpg') }}" class="img-top" style="width: 20%; border-radius: 20px; ">
        <br>
        <br>
        <h4 style="text-align: center; color: #1D4851;"><b>Maximiser l'efficacité énergétique grâce à l'isolation :</b></h4>
        <p style="margin: 0 auto; width: 700px; text-align: center;">
            L'isolation est un premier pas essentiel pour économiser de l'eau et de l'électricité. En améliorant l'isolation de votre maison, vous réduisez les pertes de chaleur en hiver et de fraîcheur en été. Cela signifie moins de recours au chauffage et à la climatisation, ce qui se traduit par une réduction significative de votre consommation énergétique. Assurez-vous que votre isolation est adéquate pour minimiser les déperditions thermiques.
        </p>
      
        <br>
        <h4 style="text-align: center; color: #1D4851;"><b>Adopter une pompe à chaleur pour un chauffage plus efficace :</b></h4>
        <p style="margin: 0 auto; width: 700px; text-align: center;">
            L'installation d'une pompe à chaleur est une solution économique pour chauffer votre maison tout en réduisant votre empreinte énergétique. Ces systèmes exploitent l'énergie thermique de l'air ou du sol pour chauffer votre maison de manière efficiente. Ils consomment moins d'électricité que les systèmes de chauffage traditionnels, réduisant ainsi votre facture d'énergie tout en préservant l'environnement.
        </p>
      
        <br>
        <h4 style="text-align: center; color: #1D4851;"><b>Investir dans l'énergie solaire et photovoltaïque :</b></h4>
        <p style="margin: 0 auto; width: 700px; text-align: center;">
            L'énergie solaire est une ressource abondante et renouvelable. En installant des panneaux solaires photovoltaïques sur votre toit, vous pouvez produire votre propre électricité, ce qui réduit votre dépendance aux fournisseurs d'énergie traditionnels. De plus, grâce aux incitations fiscales et aux tarifs de rachat d'électricité, l'investissement initial dans les panneaux solaires peut être rapidement amorti. C'est un moyen durable et économique de réduire votre facture d'électricité et de contribuer à la protection de l'environnement.
        </p>
        <br>
        <br>
        <br>
    </div>
</div>
</br>
</br>

<div  class="contain-accompagnement">
    <div class="contain-main-accompagnement">
            <br>
            <h3 style="text-align:center; color: #1D4851; width: 100%;"><b>On vous accompagne tout au long de votre rénovation énergétique</b></h3>
            <br>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <a href="" style="text-decoration:none; color: black;">
                    <div class="demarche">
                        <img src="{{ asset('assets/images/illustration-du-concept-multitache_23-2148405446-removebg-preview.png') }}" style="width: 50%;" class="img-top">
                        <p style="font-size: 13px;"><b>Démarches administratives</b></p>
                    </div>
                </a>

                <a href="" style="text-decoration:none; color: black;">
                    <div class="expert">
                        <img src="{{ asset('assets/images/5995357-removebg-preview.png') }}" style="width: 57%;" class="img-top">
                        <p style="font-size: 13px;"><b>Nos experts sont là pour vous accompagner</b></p>
                    </div>
                </a>

                <a href="" style="text-decoration:none; color: black;">
                    <div class="suivi">
                        <img src="{{ asset('assets/images/Checklist-removebg-preview.png') }}" style="width: 70%;" class="img-top">
                        <p style="font-size: 15px;"><b>Suivi personnalisé</b></p>
                    </div>
                </a>

                <a href="" style="text-decoration:none; color: black;">
                    <div class="assistance">
                        <img src="{{ asset('assets/images/illustration-du-support-client_23-2148890148-removebg-preview.png') }}" style="width: 54%;" class="img-top">
                        <p style="font-size: 13px;"><b>Nous sommes à votre écoute</b></p>
                    </div>
                </a>

            </div>
        </div>
    </div>


    <br>
    <br>
<div  class="contain-map">
    <div class="contain-main-map">
        <br>
        <h3 style="text-align:center; color: #1D4851;"><b>Nous sommes partout en France</b></h3>
        <br>

        <div id="map" style="width: 96%; margin-left: 2%;">
        <!-- Ici s'affichera la carte -->
    </div>
        <br>
        <br>

    </div>
</div>


    {{ include('main/accueil.html.twig') }}


{% endblock %}

{%block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAzR974t2qokAtzcp_CAbmIbapUhqeN18g" type="text/javascript"></script>
    <script async type="text/javascript">
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        var lat = 48.81192336633934;
        var lon = 2.3581540910644483;
        var map = null;
        // Fonction d'initialisation de la carte
        var villes = {
            // "Paris":{"lat": 48.852969,"lon": 2.349903},
            "Lille":{"lat": 50.63050633699946,"lon": 3.0450208797258327},
           // "Caen":{"lat": 49.16387131579312,"lon": -0.36360986867510103},
            "Rouen":{"lat": 49.43315087038192,"lon": 1.1121182974708699},
            // "Versailles":{"lat": 48.796621115409536,"lon": 2.14038954158438},
           // "Saint-Malo":{"lat": 48.63308927151447,"lon": -2.0114328467328613},
            "Rennes":{"lat": 48.10238825551071,"lon": -1.6777347455295333},
            // "Angers":{"lat": 47.454354294753216,"lon": -0.5388528457980502},
            "Tours":{"lat": 47.37888037073164,"lon": 0.7008764896587216},
            "Nantes":{"lat": 47.198504965182636,"lon": -1.547766017051313},
            // "Poitiers":{"lat": 46.56648544140624,"lon": 0.34938647534881184},
            // "Dijon":{"lat": 47.314388238818616,"lon": 5.049204096038173},
            "Strasbourg":{"lat": 48.56697810869012,"lon": 7.759080009336707},
            "Brest":{"lat": 48.383,"lon": -4.500},
            "Siege":{"lat": 48.89729592069684,"lon": 2.4053439235890233},
           // "Calais":{"lat": 50.95235751613912,"lon": 1.8645713265067654},
            "Reims":{"lat": 49.24371010892985,"lon": 4.039931895152327},
            "Metz":{"lat": 49.11499287874225,"lon": 6.1805862655849175},
           // "Nancy":{"lat": 48.67799333702273,"lon": 6.19817871778225},
            "Troyes":{"lat": 48.28242514829323,"lon": 4.079106017731897},
            "Orleans":{"lat": 47.88609723397634,"lon": 1.9234122947401566},
            // "Bourges":{"lat": 47.06582233670851,"lon": 2.39589529661131},
            // "Le Havre":{"lat": 49.48093938392777,"lon": 0.11027273732300724},
            // "Besancon":{"lat": 47.229553107034306,"lon": 6.028389567569765},
            // "Belfort":{"lat": 47.62693384327874,"lon": 6.870503970709527},
            "Mulhouse":{"lat": 47.74000526474074,"lon": 7.336683732175855},
           // "Nevers":{"lat": 46.98018496241854,"lon": 3.1654866765306267},
          //  "Dunkerque":{"lat": 51.03051373237552,"lon": 2.3782812808846954},
            // "Saint-Brieuc":{"lat": 48.50907938769857,"lon": -2.762395856801587},
         //   "Creteil":{"lat": 48.7822654772598,"lon": 2.465726605080305},
          //  "Beauvais":{"lat": 48.50907938769857,"lon": -2.762395856801587},
            // "Chartres":{"lat": 48.44262042163912,"lon": 1.4896231101828938},
            // "Deauville":{"lat": 49.354909529804,"lon": 0.07084063789131623},
            // "Etretat":{"lat": 49.70753067755496,"lon": 0.20538495746792673},
            // "Honfleur":{"lat": 49.41840390885456,"lon": 0.23613271442499695},
        };
        function initMap() {
            // Créer l'objet "map" et l'insèrer dans l'élément HTML qui a l'ID "map"
            map = new google.maps.Map(document.getElementById("map"), {
                // Nous plaçons le centre de la carte avec les coordonnées ci-dessus
                center: new google.maps.LatLng(lat, lon),
                // Nous définissons le zoom par défaut
                zoom: 6.8,
                // Nous définissons le type de carte (ici carte routière)
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                // Nous activons les options de contrôle de la carte (plan, satellite...)
                mapTypeControl: true,
                // Nous désactivons la roulette de souris
                scrollwheel: false,
                mapTypeControlOptions: {
                    // Cette option sert à définir comment les options se placent
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                },
                // Activation des options de navigation dans la carte (zoom...)
                navigationControl: true,
                navigationControlOptions: {
                    // Comment ces options doivent-elles s'afficher
                    style: google.maps.NavigationControlStyle.ZOOM_PAN
                }
            });

            for (ville in villes) {
                var marker;
                if (ville === "Siege") {
                    // Marqueur jaune pour la ville "Siege"
                    marker = new google.maps.Marker({
                        position: { lat: villes[ville].lat, lng: villes[ville].lon },
                        title: ville,
                        map: map,
                        icon: {
                            url: 'http://maps.google.com/mapfiles/ms/micons/yellow-dot.png',
                            scaledSize: new google.maps.Size(50, 50),
                        },
                    });
                } else {
                    // Marqueurs rouges pour les autres villes
                    marker = new google.maps.Marker({
                        position: { lat: villes[ville].lat, lng: villes[ville].lon },
                        title: ville,
                        map: map,
                    });
                }
            }
        }
        window.onload = function(){
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap();
        };
    </script>
{%endblock%}
