
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
    </style>
{% endblock %}
{% block body %}
    {{ include('base.html.twig') }}
<br>
    <h1 style="text-align:center; color: #1D4851; font-weight: bold;"><b>Nos crédits</b></h1>
    <hr style="width: 50px; color: #66FF66FF; background-color: #66FF66FF; border: 4px #66FF66FF solid; border-radius: 4px; text-align: center; margin: 0 auto;">
<br>
    <br>
    <div style="margin: auto; width: 55%;" >
    <div style="margin-left:auto; margin-right:auto;">
<div style="text-align:center;">
    <img src="{{ asset('assets/images/envio-02-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/compte">Compte Vecteurs par Vecteezy</a>
    <br>
    <br>
    <img src="{{ asset('assets/images/vecteezy_man-saves-money-from-business-investment-in-bank_4474434-1-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/affaires">Affaires Vecteurs par Vecteezy</a>
    <br>
    <br>
    <img src="{{ asset('assets/images/vecteezy_certified-icon-badge-ribbon-gold-icon-modern-simple-symbol_13258790-1-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/qualit%C3%A9">Qualité Vecteurs par Vecteezy</a>
    <br>
    <br>
    <img src="{{ asset('assets/images/vecteezy_businesswoman-secretary-assistant-multitasking-flat_14622082-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/secr%C3%A9taire">Secrétaire Vecteurs par Vecteezy</a>
    <br>
    <br>
    <img src="{{ asset('assets/images/illustration-du-support-client_23-2148890148-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/liste-de-contr%C3%B4le">Liste De Contrôle Vecteurs par Vecteezy</a>
    <br>
    <br>
    <img src="{{ asset('assets/images/vecteezy_hand-holding-clipboard-with-checklist-at-green-background_35630140-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/liste-de-contr%C3%B4le">Liste De Contrôle Vecteurs par Vecteezy</a>
    <br>
    <br>
    <img src="{{ asset('assets/images/1912.i121.041.P.m005.c33.isometric_repairs_set-07-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <p ><a href="https://fr.freepik.com/vecteurs-libre/composition-reparations-isometriques-vue-salon-personnage-reparateur-renovant-illustration-vectorielle-mur_23547802.htm#fromView=search&page=1&position=3&uuid=b35d7ef3-6c54-479e-9844-cd72ef09e850">Image de macrovector</a> sur Freepik</p>

    <br>
    <img src="{{ asset('assets/images/vecteezy_maintenance-flat-icon-vector-illustration_7132031-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/entretien">Entretien Vecteurs par Vecteezy</a>
    <br>
    <br>
    <br>
    <img src="{{ asset('assets/images/OLQE6N0.jpg') }}" style="width: 150px;" class="img-top">
    <br>
    <p><a href="https://fr.freepik.com/vecteurs-libre/elements-conditionnement-air_1059534.htm#fromView=search&page=1&position=3&uuid=f67f2883-acaf-4d1d-a9c2-7df85b211921">Image de photoroyalty</a> sur Freepik</p>

    <br>
    <img src="{{ asset('assets/images/3363-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <p><a href="https://fr.freepik.com/vecteurs-libre/poele-bois-cheminee-fer-feu-interieur-isole-systeme-chauffage-traditionnel-interieur-dans-style-moderne-equipement-menager-illustration-vectorielle-realiste-3d-clipart_4997247.htm#fromView=search&page=1&position=6&uuid=e5bf66f3-7e1f-423c-8d95-b918ae07f641">Image de vectorpocket</a> sur Freepik</p>
    <br>
    <img src="{{ asset('assets/images/vecteezy_two-builders-are-installing-solar-panels_4579204-1-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/panneau-solaire">Panneau Solaire Vecteurs par Vecteezy</a>
    <br>
    <br>
    <br>
    <img src="{{ asset('assets/images/vecteezy_business-woman-work-on-laptop-on-office-desk-concept-with_4725569-removebg-preview.png') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/vecteur-libre/comptable">Comptable Vecteurs par Vecteezy</a>
    <br>
    <br>
    <img src="{{ asset('assets/images/cozy-house-concept-with-wooden-toy-house.jpg') }}" style="width: 150px;" class="img-top">
    <br>
    <p><a href="https://fr.freepik.com/photos-gratuite/concept-maison-confortable-maison-jouet-bois_30589541.htm#fromView=search&page=1&position=2&uuid=b6fe9915-9199-4e49-9a10-115cb25cd800">Image de freepik</a></p>
    <br>
    <br>
    <img src="{{ asset('assets/images/vecteezy_unite-de-condensation-des-systemes-de-climatisation_4279825.jpg') }}" style="width: 150px;" class="img-top">
    <br>
    <a href="https://fr.vecteezy.com/photos-gratuite/pompe-a-chaleur">Pompe A Chaleur Banque de photos par Vecteezy</a>
</div>
    </div>
</div>
<br>
<br>
<br>
    {{ include('main/accueil.html.twig') }}













{% endblock %}
  {%block javascripts %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {%endblock%}
