<form method="post" action="{{ path('app_user_newsletter_delete', {'id': user_newsletter.id}) }}" onsubmit="return confirm('êtes-vous sur de vouloir supprimer ce client {{user_newsletter.nom}}, {{user_newsletter.prenom}} de la liste de la newsletter ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_newsletter.id) }}">
    <button class="btn btn-danger btn-supprimer" style="width:60px; height:100%;"><img src="{{asset( 'assets/images/delete.png') }}" class="card-img-top" style="width:25px;" alt=""></button>
</form>
