{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>

    </style>
{% endblock %}

{% block body %}

{{ include('base.html.twig') }}
<a href="{{ path('app_infos_devis_index') }}" class="btn btn-dark" style="margin-left:3%;">Retour</a>
<div style="float:right; margin-right:3%; height: 50px;"> {{ include('infos_devis/_delete_form.html.twig') }}</div>

<h1 style="text-align:center;">Editer un devis</h1>


    {{ include('infos_devis/_form.html.twig', {'button_label': 'Enregistrer'}) }}




{% endblock %}
  {%block javascripts %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>


{#    document.addEventListener('DOMContentLoaded', function () {#}
{#        var nbPersonneField = document.getElementById('infos_devis_nbPersonne');#}
{#        var nbRegionField = document.getElementById('infos_devis_Regions');#}
{#        var trancheFiscalField = document.getElementById('infos_devis_TrancheFiscal');#}

{#        // Vérifier si l'élément existe avant d'ajouter l'écouteur d'événements#}
{#        if (nbPersonneField && nbRegionField) {#}
{#            var isAjaxInProgress = false;#}

{#            // Fonction pour déclencher la requête AJAX#}
{#            function triggerAjaxRequest() {#}
{#                if (isAjaxInProgress) {#}
{#                    return;#}
{#                }#}

{#                isAjaxInProgress = true;#}

{#                var selectedPersonneId = nbPersonneField.value;#}
{#                var selectedRegionId = nbRegionField.value;#}

{#                console.log('nbPersonneId:', selectedPersonneId);#}
{#                console.log('regionId:', selectedRegionId);#}

{#                $.ajax({#}
{#                    url: '{{ path('app_infos_devis_tranches') }}',#}
{#                    type: 'GET',#}
{#                    data: {#}
{#                        nbPersonneId: selectedPersonneId,#}
{#                        regionId: selectedRegionId#}
{#                    },#}

{#                    success: function (data) {#}
{#                        console.log('AJAX response:', data);#}
{#                        try {#}
{#                            trancheFiscalField.innerHTML = '';#}

{#                            data.forEach(function (option) {#}
{#                                var newOption = document.createElement('option');#}
{#                                newOption.value = option.value;#}
{#                                newOption.text = option.label;#}
{#                                trancheFiscalField.add(newOption);#}
{#                            });#}
{#                        } catch (e) {#}
{#                            console.error('Error processing AJAX response:', e);#}
{#                        }#}
{#                    },#}
{#                    error: function (xhr, status, error) {#}
{#                        console.error('AJAX error:', error);#}
{#                        console.log('Status:', status);#}
{#                        console.log('XHR:', xhr);#}
{#                    },#}

{#                    complete: function () {#}
{#                        isAjaxInProgress = false;#}
{#                    }#}
{#                });#}
{#            }#}

{#            // Ajouter des écouteurs d'événements pour les champs nbPersonne et nbRegion#}
{#            nbPersonneField.addEventListener('change', triggerAjaxRequest);#}
{#            nbRegionField.addEventListener('change', triggerAjaxRequest);#}
{#        }#}
{#    });#}
{#</script>#}

    document.addEventListener('DOMContentLoaded', function () {
    var nbPersonneField = document.getElementById('infos_devis_nbPersonne');
    var nbRegionField = document.getElementById('infos_devis_Regions');
    var trancheFiscalField = document.getElementById('infos_devis_TrancheFiscal');

    // Vérifier si l'élément existe avant d'ajouter l'écouteur d'événements
    if (nbPersonneField && nbRegionField) {
    var isAjaxInProgress = false;

    // Fonction pour déclencher la requête AJAX
    function triggerAjaxRequest() {
    if (isAjaxInProgress) {
    return;
}

    isAjaxInProgress = true;

    var selectedPersonneId = nbPersonneField.value;
    var selectedRegionId = nbRegionField.value;

    console.log('Selected nbPersonneId:', selectedPersonneId);
    console.log('Selected regionId:', selectedRegionId);

    $.ajax({
    url: '{{ path('app_infos_devis_tranches') }}',
    type: 'GET',
    data: {
    nbPersonneId: selectedPersonneId,
    regionId: selectedRegionId
},
    success: function (data) {
    console.log('AJAX response:', data);

    try {
    trancheFiscalField.innerHTML = '';

    data.forEach(function (option) {
    var newOption = document.createElement('option');
    newOption.value = option.value;
    newOption.text = option.label;
    trancheFiscalField.add(newOption);
});
} catch (e) {
    console.error('Error processing AJAX response:', e);
}
},
    error: function (xhr, status, error) {
    console.error('AJAX error:', error);
    console.log('Status:', status);
    console.log('XHR:', xhr);
},
    complete: function () {
    isAjaxInProgress = false;
}
});
}

    // Ajouter des écouteurs d'événements pour les champs nbPersonne et nbRegion
    nbPersonneField.addEventListener('change', triggerAjaxRequest);
    nbRegionField.addEventListener('change', triggerAjaxRequest);
}
});
</script>
  {%endblock%}




