
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
    </style>
{% endblock %}
{% block body %}
    {{ include('base.html.twig') }}
    <br>
    <h1 style="text-align:center;">Les devis</h1>
<div style="margin: auto; width: 120%;">
    <div style="margin-left:auto; margin-right:auto;">
        <a href="{{ path('app_infos_devis_new')}}" class="btn btn-secondary" style="margin-left: 5%;">Ajouter un nouveau devis</a>
        <a href="{{ path('app_generate_excel') }}" style="float: right; margin-right: 400px;" class="btn btn-primary">Télécharger Excel</a>

        <br>
        <br>
    <table class="table" style=" margin-right: 5%;">
        <thead>
        <tr>
            <th style="text-align: center;">Nom</th>
            <th style="text-align: center;">Prénom</th>
            <th style="text-align: center; ">Mail</th>
            <th style="text-align: center;">Tél.</th>
            <th style="text-align: center; ">Personnes dans le Foyer</th>
            <th style="text-align: center;">Numéro Fiscal</th>
            <th style="text-align: center;">Tranche Fiscale</th>
            <th style="text-align: center;">Région</th>
            <th style="text-align: center;">Propriété</th>
            <th style="text-align: center;">Surface (m²)</th>
            <th style="text-align: center;">Chauffage</th>
            <th style="text-align: center;">Résidence</th>
            <th style="text-align: center;">Aide</th>
            <th style="text-align: center;">Installations</th>
            <th style="text-align: center;">Prime</th>
            <th style="text-align: center;">Menages</th>
            <th style="text-align: center;">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for infos_devi in infos_devis %}
            <tr>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.Nom }}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.Prenom }}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.Mail }}</td>
                <td style="text-align: center; font-size: 15px;">0{{ infos_devi.telephone }}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.nbPersonne.nbPersonne | default('N/A')}}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.NumFiscal }} €</td>
                <td style="text-align: center; font-size: 15px;">      {% if infos_devi.TrancheFiscal.Fin == null %}
                  >  {{ infos_devi.TrancheFiscal.Debut }} €
                    {% else %}
                        {{ infos_devi.TrancheFiscal is not null ? infos_devi.TrancheFiscal.Debut ~ '€' : 'N/A' }} - {{ infos_devi.TrancheFiscal is not null ? infos_devi.TrancheFiscal.Fin ~ '€' : 'N/A' }}
                    {% endif %}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.Regions.Nom  | default('N/A')}}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.proprieter }}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.surfaceHabitable }}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.typeChauffage }}</td>
                <td style="text-align: center; font-size: 15px;">{{ infos_devi.residencePrincipale }}</td>
                <td style="text-align: center; font-size: 15px;">
                    {% if infos_devi.validations == 1 %}
                        0ui
                    {% else %}
                        Non
                    {% endif %}
                </td>

                <td style="text-align: center; font-size: 15px;">
                    {%if infos_devi.installations=='pacAirEau' %}
                    PAC Air/Eau
                    {% elseif infos_devi.installations=='pacAirAir' %}
                        PAC Air/Air
                    {% elseif infos_devi.installations=='BTD' %}
                        BTD
                    {% elseif infos_devi.installations=='ITE' %}
                        ITE
                    {% elseif infos_devi.installations=='pacAirEauIte' %}
                        PAC Air/Eau + ITE
                    {% elseif infos_devi.installations=='pacAirAirIte' %}
                        PAC Air/Air + ITE
                    {% elseif infos_devi.installations=='pacAirAirBTD' %}
                        PAC Air/Air + BTD
                    {% elseif infos_devi.installations=='pacAirEauBTD' %}
                        PAC Air/Eau + BTD
                    {% elseif infos_devi.installations=='pacAirAirBTDITE' %}
                        PAC Air/Air + BTD + ITE
                    {% elseif infos_devi.installations=='pacAirEauBTDITE' %}
                        PAC Air/Eau + BTD + ITE
                    {% elseif infos_devi.installations=='ITEBTD' %}
                            ITE + BTD
                    {% endif %}
                </td>

                <td style="text-align: center; font-size: 15px;">
            {% if infos_devi.TrancheFiscal.tranches[0].Menage.Nom %}
                    {% set aideITE = 0 %}
                    {% set totalAide = 0 %}
                    {% set lastTotalAideFinale = 0 %}

                    {% if infos_devi.validations == 1 %}
                        {% for tranche in infos_devi.TrancheFiscal.tranches %}


                            {% if tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'BTD' %}
                                {% set lastTotalAideFinale = 1307 %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'BTD' %}
                                {% set lastTotalAideFinale = 894 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'BTD' %}
                                {% set lastTotalAideFinale = 494 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'BTD' %}
                                {% set lastTotalAideFinale = 85 %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirAirBTD' %}
                                {% set lastTotalAideFinale = 1307 %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirAirBTD' %}
                                {% set lastTotalAideFinale = 894 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirAirBTD' %}
                                {% set lastTotalAideFinale = 494 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirAirBTD' %}
                                {% set lastTotalAideFinale = 85 %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirEauBTD' %}
                                {% set lastTotalAideFinale = 9307 %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirEauBTD' %}
                                {% set lastTotalAideFinale = 7894 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirEauBTD' %}
                                {% set lastTotalAideFinale = 4994 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirEauBTD' %}
                                {% set lastTotalAideFinale = 2585 %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirEau' %}
                                {% set lastTotalAideFinale = 8000 %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirEau' %}
                                {% set lastTotalAideFinale = 7000 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirEau' %}
                                {% set lastTotalAideFinale = 4500 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirEau' %}
                                {% set lastTotalAideFinale = 2500 %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'ITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 75 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 75 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'ITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 60 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 60 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'ITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 40 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 40 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'ITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 15 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 15 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirAir' %}
                                {% set lastTotalAideFinale = 0 %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirAir' %}
                                {% set lastTotalAideFinale = 0 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirAir' %}
                                {% set lastTotalAideFinale = 0 %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirAir' %}
                                {% set lastTotalAideFinale = 0 %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirAirBTDITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 1307+75 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale =1307+ 75 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirAirBTDITE' %}

                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 894+60 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale =894+ 60 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirAirBTDITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 494+40 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 494+ 40 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirAirBTDITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 85+15 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 85+15 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirEauIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 8000+75 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 8000+75 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirEauIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 7000+60 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 7000+60 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirEauIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 4500+40 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 4500+40 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirEauIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 2500+15 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale =2500+ 15 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirAirIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 75 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 75 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirAirIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 60 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 60 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirAirIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 40 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 40 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirAirIte' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 15 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 15 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'pacAirEauBTDITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 8000+1307+75 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 8000+1307+75 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'pacAirEauBTDITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 7000+894+60 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 7000+894+60 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'pacAirEauBTDITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 4500+494+40 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 4500+494+ 40 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'pacAirEauBTDITE' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 2500+85+15 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 2500+85+15 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages très modestes' and infos_devi.installations == 'ITEBTD' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 1307+75 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 1307+75 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages modestes' and infos_devi.installations == 'ITEBTD' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 894+60 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 894+60 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus intermédiaires' and infos_devi.installations == 'ITEBTD' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 494+40 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 494+40 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}
                            {% elseif tranche.Menage.Nom == 'Ménages aux revenus les plus élevés' and infos_devi.installations == 'ITEBTD' %}
                                {% if infos_devi.surfaceHabitable <= 100 %}
                                    {% set lastTotalAideFinale = 85+15 * infos_devi.surfaceHabitable %}
                                {% else %}
                                    {% set lastTotalAideFinale = 85+15 * 100 %}  {# Plafonner la surface à 100m2 #}
                                {% endif %}

                            {% endif %}

                        {% endfor %}

                        {% if infos_devi.installations == 'pacAirAir' %}
                            {% set lastTotalAideFinale = 0 %}
                        {% endif %}

                        <div style="color: green;">{{ lastTotalAideFinale }}€</div>

                    {% else %}
                        <div style="color: red;">0€</div>
                    {% endif %}
                    {% else %}
                    {# Le ménage du devis n'est pas le même que celui de la tranche fiscale, ne faites rien ou affichez un message d'erreur si nécessaire #}
            <tr>
                <td colspan="6">Ménage non valide pour cette tranche fiscale</td>
            </tr>
        {% endif %}
                </td>
                <td style="font-size: 10px;">
                    {% if infos_devi.TrancheFiscal.tranches|length > 0 %}
                        {% set Menages = infos_devi.TrancheFiscal.tranches[0].Menage.Nom %}
                        <b>{{ Menages }}</b>
                    {% endif %}
                </td>

                <td style="display: flex; align-items: center; justify-content: center;  " >

                    <a class="btn btn-success" href="{{ path('app_infos_devis_show', {'id': infos_devi.id}) }}" style="width:60px;  height:40px; margin-right: 10px;"><img src="{{asset( 'assets/images/plus.png') }}" class="card-img-top" style="width:25px;" alt=""></a>
                    <a class="btn btn-info" href="{{ path('app_infos_devis_edit', {'id': infos_devi.id}) }}" style="width:60px;  height:40px; margin-right: 10px;"><img src="{{asset( 'assets/images/modifier.png') }}" class="card-img-top" style="width:25px;" alt=""></a>
                    <div style="  height:40px;">  {{ include('infos_devis/_delete_form.html.twig') }}</div>


                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

{% endblock %}
      {%block javascripts %}

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      {%endblock%}
