{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>

    </style>
{% endblock %}

{% block body %}
    {{ include('base.html.twig') }}
    <br>
    <a href="{{ path('app_infos_devis_index') }}" class="btn btn-dark" style="margin-left:3%;">Retour</a>

<h1 style="text-align:center">Devis</h1>
<div style="margin: auto; width: 80%;">
    <div style="margin-left:auto; margin-right:auto;">

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ infos_devi.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>Nom</th>
                <td>{{ infos_devi.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ infos_devi.Prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ infos_devi.Mail }}</td>
            </tr>
            <tr>
                <th>Tél</th>
                <td>{{ infos_devi.telephone }}</td>
            </tr>
            <tr>
                <th>Personnes dans le Foyer</th>
                <td>{{ infos_devi.nbPersonne.nbPersonne | default('N/A')}}</td>
            </tr>
            <tr>
                <th>Numéro Fiscal</th>
                <td>{{ infos_devi.NumFiscal }} €</td>
            </tr>
            <tr>
                <th>Tranche Fiscale</th>
                <td>{{ infos_devi.TrancheFiscal is not null ? infos_devi.TrancheFiscal.Debut ~ '€' : 'N/A' }} - {{ infos_devi.TrancheFiscal is not null ? infos_devi.TrancheFiscal.Fin ~ '€' : 'N/A' }}</td>
            </tr>
            <tr>
                <th>Région</th>
                <td>{{ infos_devi.Regions.Nom  | default('N/A')}}</td>
            </tr>
            <tr>
                <th>Propriété</th>
                <td>{{ infos_devi.proprieter }}</td>
            </tr>
            <tr>
                <th>Surface (m²)</th>
                <td>{{ infos_devi.surfaceHabitable }}</td>
            </tr>
            <tr>
                <th>Chauffage</th>
                <td>{{ infos_devi.typeChauffage }}</td>
            </tr>
            <tr>
                <th>Résidence</th>
                <td>{{ infos_devi.residencePrincipale }}</td>
            </tr>
            <tr>
                <th>Modifier :</th>
                <td><a class="btn btn-info" href="{{ path('app_infos_devis_edit', {'id': infos_devi.id}) }}" style="width:60px; height:100%;"> <img src="{{asset( 'assets/images/modifier.png') }}" class="card-img-top" style="width:25px;" alt=""></a></td>
            </tr>
            <tr>
                <th>Supprimer :</th>
                <td>  {{ include('infos_devis/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>


    </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}
   {%block javascripts %}

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   {%endblock%}

