<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


        <style>
          .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
          }
          .vertical
          {
           
  
              border:         none;
              border-left:    1px solid white;
              height:         350px;
              width:          1px;       
          
          }
          .nav-item-space {
              margin-right: 25px;
          }

          .btn-devis {
              /* Vos styles existants */
              width: 200px;
              height: 50px;
              margin-right: 4%;
              border-radius: 50px;
              font-size: 15px;
              background: linear-gradient(to right, #004d00, #66ff66);
              transition: background 0.5s ease-in-out;
          }

          .btn-devis .btn-text {
              display: inline-block;
              transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
          }

          /*.btn-primary:hover:not(.exclude-hover) {*/
          /*    background: linear-gradient(to right, rgba(0, 123, 255, 0.9), #00bbff);*/
          /*}*/

          .btn-devis:hover:not(.exclude-hover) .btn-text {
              color: #ffffff; /* Changez la couleur au survol */
              transform: scale(1.1);
          }



          .btn-text {
              display: inline-block;
              transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
          }

          .btn-devis:hover .btn-text {
              color: #ffffff; /* Changez la couleur au survol */
              transform: scale(1.1);
          }

          .dropdown:hover .dropdown-menu {
              animation: fadeInDown 0.5s ease-in-out;
          }

          @keyframes fadeInDown {
              0% {
                  opacity: 0;
                  transform: translateY(-10px);
              }
              100% {
                  opacity: 0;
                  transform: translateY(0);
              }
          }



          /* ... Vos autres styles CSS ... */

          .dropdown:hover .dropdown-menu {
              animation: fadeInDown 0.5s ease-in-out;
          }

          @keyframes fadeInDown {
              0% {
                  opacity: 0;
                  transform: translateY(-10px);
              }
              100% {
                  opacity: 1;
                  transform: translateY(0);
              }
          }





          /* Ajoutez une bordure au survol de l'élément de la barre de navigation */
          .navb a:hover {
              border-bottom: 2px solid white; /* Vous pouvez ajuster la couleur et l'épaisseur selon vos préférences */
          }

          /* Style pour indiquer l'élément actif */
          .navb a.active {
              border-bottom: 2px solid white; /* Utilisez le même style que pour le survol ou personnalisez selon vos besoins */
          }



          .dropdown:hover .dropdown-menu {
              animation: fadeInDown 0.5s ease-in-out;
          }

          @keyframes fadeInDown {
              0% {
                  opacity: 0;
                  transform: translateY(-10px);
              }
              100% {
                  opacity: 1;
                  transform: translateY(0);
              }
          }
          /* Ajoutez une bordure au survol de l'élément de la barre de navigation */
          .navb a:hover {
              border-bottom: 2px solid white; /* Vous pouvez ajuster la couleur et l'épaisseur selon vos préférences */
          }

          /* Style pour indiquer l'élément actif */
          .navb a.active {
              border-bottom: 2px solid white; /* Utilisez le même style que pour le survol ou personnalisez selon vos besoins */
          }

          #scrollToTopBtn,
          #scrollToBottomBtn {
              display: block;
              position: fixed;
              bottom: 40px; /* Ajustez selon vos préférences pour remonter la flèche */
              right: 10px; /* Ajustez selon vos préférences */
              background-color: #ffffff; /* Couleur de fond du bouton */
              border: 1px solid #000000; /* Bordure du bouton */
              padding: 10px; /* Espace à l'intérieur du bouton */
              cursor: pointer;
              z-index: 1000; /* Pour s'assurer que le bouton est au-dessus des autres éléments */
              border-radius: 50%; /* Rendre le bouton rond */
              width: 40px; /* Ajustez la largeur selon vos besoins */
              height: 40px; /* Ajustez la hauteur selon vos besoins */
              font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
              line-height: 20px; /* Ajustez pour centrer le texte (la flèche) verticalement */
              color: #ffffff; /* Couleur du texte à l'intérieur du bouton (triangle) */
          }





          body {
              background-color: #ffffff; /* light green background color */
          }
          .navbar {

              height: auto; /* ou définissez une hauteur spécifique */



              padding: 0; /* Ajustez le padding selon vos besoins */
          }


          @media (min-width: 1009px)and (max-width: 10140px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 13.6px!important;
              }
              .exclude-hover{
                  font-size: 9px!important;
                  width:128px!important;
              }

          }
          @media (min-width: 1015px)and (max-width: 1030px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 13.8px!important;
              }
              .exclude-hover{
                  font-size: 9px!important;
                  width:130px!important;
              }

          }
          @media (min-width: 1031px)and (max-width: 1060px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 14.4px!important;
              }
              .exclude-hover{
                  font-size: 9px!important;
                  width:130px!important;
              }

          }
          @media (min-width: 1061px)and (max-width: 1070px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 14.9px!important;
              }
              .exclude-hover{
                  font-size: 9.5px!important;
                  width:135px!important;
              }

          }
          @media (min-width: 1071px)and (max-width: 1080px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 15.2px!important;
              }
              .exclude-hover{
                  font-size: 9.8px!important;
                  width:137px!important;
              }

          }


          @media (min-width: 1081px)and (max-width: 1090px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 15.5px!important;
              }
              .exclude-hover{
                  font-size: 10px!important;
                  width:139px!important;
              }

          }

          @media (min-width: 1091px)and (max-width: 1100px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 15.7px!important;
              }
              .exclude-hover{
                  font-size: 10.3px!important;
                  width:141px!important;
              }

          }
          @media (min-width: 1101px)and (max-width: 1110px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 15.9px!important;
              }
              .exclude-hover{
                  font-size: 10.5px!important;
                  width:144px!important;
              }

          }

          @media (min-width: 1111px)and (max-width: 1120px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 16.1px!important;
              }
              .exclude-hover{
                  font-size: 10.7px!important;
                  width:146px!important;
              }

          }
          @media (min-width: 1121px)and (max-width: 1130px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 16.4px!important;
              }
              .exclude-hover{
                  font-size: 10.9px!important;
                  width:150px!important;
              }

          }
          @media (min-width: 1131px)and (max-width: 1140px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 16.6px!important;
              }
              .exclude-hover{
                  font-size: 11.1px!important;
                  width:153px!important;
              }

          }
          @media (min-width: 1141px)and (max-width: 1150px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 16.7px!important;
              }
              .exclude-hover{
                  font-size: 11.3px!important;
                  width:155px!important;
              }

          }
          @media (min-width: 1151px)and (max-width: 1160px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 16.9px!important;
              }
              .exclude-hover{
                  font-size: 11.5px!important;
                  width:157px!important;
              }

          }
          @media (min-width: 1161px)and (max-width: 1170px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 17.1px!important;
              }
              .exclude-hover{
                  font-size: 11.7px!important;
                  width:159px!important;
              }

          }
          @media (min-width: 1171px)and (max-width: 1180px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 17.3px!important;
              }
              .exclude-hover{
                  font-size: 11.9px!important;
                  width:161px!important;
              }

          }
          @media (min-width: 1181px)and (max-width: 1190px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 17.7px!important;
              }
              .exclude-hover{
                  font-size: 12.3px!important;
                  width:164px!important;
              }

          }


          @media (min-width: 1191px)and (max-width: 1200px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 17.8px!important;
              }
              .exclude-hover{
                  font-size: 12.4px!important;
                  width:166px!important;
              }

          }

          @media (min-width: 1201px)and (max-width: 1210px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 18px!important;
              }
              .exclude-hover{
                  font-size: 12.6px!important;
                  width:168px!important;
              }

          }
          @media (min-width: 1211px)and (max-width: 1220px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 18.3px!important;
              }
              .exclude-hover{
                  font-size: 12.8px!important;
                  width:169px!important;
              }

          }
          @media (min-width: 1221px)and (max-width: 1230px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 18.5px!important;
              }
              .exclude-hover{
                  font-size: 13px!important;
                  width:171px!important;
              }

          }

          @media (min-width: 1231px)and (max-width: 1240px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 18.8px!important;
              }
              .exclude-hover{
                  font-size: 13.3px!important;
                  width:174px!important;
              }

          }
          @media (min-width: 1241px)and (max-width: 1250px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 19px!important;
              }
              .exclude-hover{
                  font-size: 13.5px!important;
                  width:176px!important;
              }

          }
          @media (min-width: 1251px)and (max-width: 1260px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 19.3px!important;
              }
              .exclude-hover{
                  font-size: 13.7px!important;
                  width:178px!important;
              }

          }
          @media (min-width: 1261px)and (max-width: 1270px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 19.6px!important;
              }
              .exclude-hover{
                  font-size: 13.8px!important;
                  width:180px!important;
              }

          }
          @media (min-width: 1271px)and (max-width: 1280px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 19.9px!important;
              }
              .exclude-hover{
                  font-size: 14px!important;
                  width:183px!important;
              }

          }
          @media (min-width: 1281px)and (max-width: 1290px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 20.1px!important;
              }
              .exclude-hover{
                  font-size: 14.3px!important;
                  width:185px!important;
              }

          }
          @media (min-width: 1291px)and (max-width: 1300px) {
              .nav-link, .dropdown-toggle
              {
                  font-size: 20.3px!important;
              }
              .exclude-hover{
                  font-size: 14.5px!important;
                  width:187px!important;
              }

          }
          @media (min-width: 992px) and (max-width: 1008px) {
              .nav-link,
              .dropdown-toggle {
                  font-size: 13px !important;
              }
              .exclude-hover {
                  font-size: 9px !important;
                  width: 130px !important;
              }
          }


          /*@media (max-width: 1200px) {*/
          /*    .nav-link, .dropdown-toggle*/
          /*    {*/
          /*        font-size: 16px!important;*/
          /*    }*/
          /*    .exclude-hover{*/
          /*        font-size: 9px!important;*/
          /*        width:140px!important;*/
          /*    }*/

          /*}*/
          /*@media (max-width: 1300px) {*/
          /*    .nav-link, .dropdown-toggle*/
          /*    {*/
          /*        font-size: 17px!important;*/
          /*    }*/
          /*    .exclude-hover{*/
          /*        font-size: 12px!important;*/
          /*        width:170px!important;*/
          /*    }*/

          /*}*/

          .navbar-toggler-icon {
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(253, 254, 254, 0.79)' fill='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
          }


          /* Changez la couleur des barres de l'icône du hamburger en blanc */
          .navbar-toggler-icon span {
              background-color: white !important;
          }
          .navbar-toggler {
              border: 1px solid white !important;
              color: rgb(255 255 255 / 65%) !important;
          }


        </style>
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{#            <script src="{{ asset('librairies/tarteaucitron/tarteaucitron.js') }}"></script>#}
{#            <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1L710JD86"></script>#}
            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function () {
                    var navbarToggle = document.querySelector('.navbar-toggler');
                    var navbarCollapsed = document.querySelector('.navbar-collapse');
                    var clicCount = 0;

                    navbarToggle.addEventListener('click', function () {
                        clicCount++;

                        if (clicCount % 2 === 1) {
                            navbarToggle.setAttribute('aria-expanded', 'true');
                            navbarToggle.classList.remove('collapsed');
                            navbarCollapsed.classList.add('show');
                        } else {
                            navbarToggle.setAttribute('aria-expanded', 'false');
                            navbarToggle.classList.add('collapsed');
                            setTimeout(function () {
                                navbarCollapsed.classList.remove('show');
                            }, 350); // Ajout d'un délai pour garantir que l'animation de Bootstrap se termine
                        }

                        console.log('Nombre de clics : ' + clicCount);
                    });
                });

          // $(document).ready(function() {
          //   // Récupérer le chemin de la page actuelle
          //   var path = window.location.pathname;
          //   path = path.replace(/\/$/, "");
          //   path = decodeURIComponent(path);
          //   console.log("Chemin de la page actuelle :", path);
          //
          //   // Trouver l'élément de la barre de navigation correspondant à la page actuelle
          //   $('.navbar-nav a').each(function() {
          //     var href = $(this).attr('href');
          //     if (path.substring(0, href.length) === href) {
          //       $(this).addClass('active');
          //     }
          //   });
          // });

                // $(document).ready(function() {
                //     // Récupérer le chemin de la page actuelle
                //     var path = window.location.pathname;
                //     path = path.replace(/\/$/, "");
                //     path = decodeURIComponent(path);
                //     console.log("Chemin de la page actuelle :", path);
                //
                //     // Trouver l'élément de la barre de navigation correspondant à la page actuelle
                //     $('.navbar-nav a').each(function() {
                //         var href = $(this).attr('href');
                //         var hrefPath = new URL(href, window.location.origin).pathname;
                //         console.log("Lien de la barre de navigation :", hrefPath);
                //
                //         if (path === hrefPath) {
                //             $(this).addClass('active');
                //         }
                //     });
                // });


                $(document).ready(function() {
                    // Récupérer le chemin de la page actuelle
                    var path = window.location.pathname;
                    path = path.replace(/\/$/, "");
                    path = decodeURIComponent(path);
                    console.log("Chemin de la page actuelle :", path);

                    // Trouver l'élément de la barre de navigation correspondant à la page actuelle
                    $('.navbar-nav a').each(function() {
                        var href = $(this).attr('href');
                        var hrefPath = new URL(href, window.location.origin).pathname;
                        console.log("Lien de la barre de navigation :", hrefPath);

                        if (path === hrefPath) {
                            $(this).addClass('active');
                            console.log("Le lien est actif !");
                        }
                    });
                });



          //       if (typeof tarteaucitron !== 'undefined' && typeof tarteaucitron.init === 'function') {
          //     console.log('Tarteaucitron est bien chargé.');
          //         tarteaucitron.init({
          //         "privacyUrl": "", /* Privacy policy url */
          //         "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */
          //
          //         "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
          //         "cookieName": "tarteaucitron", /* Cookie name */
          //
          //         "orientation": "middle", /* Banner position (top - bottom) */
          //
          //         "groupServices": false, /* Group services by category */
          //         "showDetailsOnClick": true, /* Click to expand the description */
          //         "serviceDefaultState": "wait", /* Default state (true - wait - false) */
          //
          //         "showAlertSmall": false, /* Show the small banner on bottom right */
          //         "cookieslist": false, /* Show the cookie list */
          //
          //         "closePopup": false, /* Show a close X on the banner */
          //
          //         "showIcon": true, /* Show cookie icon to manage cookies */
          //         //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          //         "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
          //
          //         "adblocker": false, /* Show a Warning if an adblocker is detected */
          //
          //         "DenyAllCta" : true, /* Show the deny all button */
          //         "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          //         "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
          //
          //         "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
          //
          //         "removeCredit": false, /* Remove credit link */
          //         "moreInfoLink": true, /* Show more info link */
          //
          //         "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          //         "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
          //
          //         //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
          //
          //         "readmoreLink": "", /* Change the default readmore link */
          //
          //         "mandatory": true, /* Show a message about mandatory cookies */
          //         "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
          //
          //         //"customCloserId": "" /* Optional a11y: Custom element ID used to open the panel */
          //     });
          //     tarteaucitron.user.multiplegtagUa = ['G-Z1L710JD86', 'G-Z1L710JD86', 'G-Z1L710JD86'];
          //     (tarteaucitron.job = tarteaucitron.job || []).push('multiplegtag');
          //     window.dataLayer = window.dataLayer || [];
          //     function gtag(){dataLayer.push(arguments);}
          //     gtag('js', new Date());
          //     gtag('config', 'G-Z1L710JD86');
          // } else {
          //     console.error('Erreur : Tarteaucitron non chargé correctement.');
          // }

            </script>


        {% endblock %}
    </head>

    <body>
    {%if app.user%}

        {% if is_granted('ROLE_USER')%}

            <nav class="navbar navbar-expand-lg bg" style="background-color: #1D4851; color: white;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{path ('main_accueil_user')}}">
                        <img src="{{ asset('assets/images/LOGO_JS_ENERGIE_DEFINITIF2_3_copie-2.png') }}" width="100" style="margin-top: -15%; margin-bottom: -12%;" height="96">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav navb me-auto mb-2 mb-lg-0">

                            <li class="nav-item nav-item-space">
                                <a class="nav-link" style="font-size:1.3em!important; color: white !important;" aria-current="page" href="{{path ('app_article_index')}}">Accueil Article</a>
                            </li>

            {% if is_granted('ROLE_PRODUCT_ADMIN')%}

                            <li class="nav-item nav-item-space">
                                <a class="nav-link" style="font-size:1.3em!important; color: white !important;" aria-current="page" href="{{path ('admin_article_app_article_index')}}">Articles admin</a>
                            </li>
            {%else%}
                            <li class="nav-item nav-item-space">
                                <a class="nav-link" style="font-size:1.3em!important; color: white !important;" aria-current="page" href="{{path ('app_article_index_1')}}">Articles</a>
                            </li>

            {%endif%}
                            <li class="nav-item nav-item-space">
                                <a class="nav-link" style="font-size:1.3em!important; color: white !important;" aria-current="page" href="{{path ('app_type_index')}}">Types</a>
                            </li>



                            <li class="nav-item dropdown nav-item-space">
                                <a id="footerDropdownToggle" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:1.3em!important; color: white !important;">
                                    La newsletter
                                </a>
                                <ul class="dropdown-menu" style="background-color: #1D4851;">
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_article_newsletter_index')}}">Article de la newsletter</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;;" href="{{path ('app_user_newsletter_index')}}">Les clients inscrit à la newsletter</a></li>
                                </ul>
                            </li>



                            <li class="nav-item dropdown nav-item-space">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:1.3em!important; color: white !important;">
                                    Devis
                                </a>
                                <ul class="dropdown-menu" style="background-color: #1D4851;">
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_menage_index')}}">Ménages</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_regions_index')}}">Régions</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_personne_index')}}">Personne</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_type_devis_index')}}">Type d'installation</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_prime_index')}}">Prime</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_tranche_fiscal_index')}}">Tranche Fiscal</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_tranche_index')}}">Tranche</a></li>
                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_infos_devis_index')}}">Devis</a></li>
{#                                    <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_infos_devis_index_reno')}}">Devis rénovation global</a></li>#}
                                </ul>
                            </li>
                        </ul>


                        <ul class="navbar-nav navb ms-auto mb-2 mb-lg-0 " >
                            {% if app.user %}
                                <li class="nav-item nav-item-space">
                                    <a class="nav-link" style="font-size:1.3em!important; color: white !important;" href="{{path ('main_profil')}}">Mon compte</a>
                                </li>
                                <li class="nav-item nav-item-space">
                                    <a class="nav-link" style="font-size:1.3em!important; color: white !important;" href="{{path ('app_logout')}}">Me déconnecter</a>
                                </li>
                            {%else%}
                                <li class="nav-item nav-item-space">
                                    <a class="nav-link" style="font-size:1.3em!important;color: white !important;" href="{{path ('app_register')}}">M'inscrire</a>
                                </li>
                                <li class="nav-item nav-item-space">
                                    <a class="nav-link" style="font-size:1.3em!important; color: white !important;" href="{{path ('app_login')}}">Me connecter</a>
                                </li>
                            {%endif%}
                        </ul>



                    </div>
                </div>
            </nav>

            <button id="scrollToTopBtn" class="scroll-to-top" title="Remonter" style="background-color: #1D4851; position: fixed; bottom: 20px; right: 20px; border-color: white;">&#9650;</button>

            <!-- Bouton de défilement Descendre -->
            <button id="scrollToBottomBtn" class="scroll-to-bottom" title="Descendre" style="background-color: #1D4851; position: fixed; bottom: 20px; right: 20px; border-color: white;">&#9660;</button>



        {%endif%}


    {%else%}
        <nav class="navbar navbar-expand-lg bg" style="background-color: #1D4851; color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{path ('main_accueil_user')}}">
                    <img src="{{ asset('assets/images/LOGO_JS_ENERGIE_DEFINITIF2_3_copie-2.png') }}" width="100" style="margin-top: -15%; margin-bottom: -12%;" height="96">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav navb me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown nav-item-space">
                            <a id="footerDropdownToggle" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:1.3em!important; color: white !important;">
                                Isolation
                            </a>
                            <ul class="dropdown-menu" style="background-color: #1D4851;">
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('app_article_index_2')}}">Isolation</a></li>
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;;" href="{{path ('isolation_interieur')}}">Isolation Intérieur</a></li>
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('isolation_exterieur')}}">Isolation Extérieur</a></li>
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('isolation_comble')}}">Isolation Comble</a></li>
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('isolation_garage')}}">Isolation Sous-sol / Garage</a></li>
                            </ul>
                        </li>



                        <li class="nav-item dropdown nav-item-space">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:1.3em!important; color: white !important;">
                                Pompe à chaleur
                            </a>
                            <ul class="dropdown-menu" style="background-color: #1D4851;">
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('pac_air_air')}}"> Pompe à chaleur Air / Air</a></li>
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('pac_air_eau')}}">Pompe à chaleur Air / Eau</a></li>
{#                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('poile_a_bois')}}">Poile à bois</a></li>#}
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('poile_a_granulet')}}">Poile à granulet</a></li>
                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('chauffe_eau_thermodynamique')}}">Chauffe eau thermodynamique</a></li>
                            </ul>
                        </li>



{#                        <li class="nav-item dropdown nav-item-space">#}
{#                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:1.3em!important; color: white !important;">#}
{#                                Solaire & Photovoltaique#}
{#                            </a>#}
{#                            <ul class="dropdown-menu" style="background-color: #1D4851;">#}
{#                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('panneau_photovoltaique')}}">Panneau photovoltaique</a></li>#}
{#                                <li><a class="dropdown-item" style="color: white; background-color: #1D4851;" href="{{path ('chauffe_eau_thermodynamique')}}">Chauffe eau thermodynamique</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                        <li class="nav-item nav-item-space">
                            <a class="nav-link" style="font-size:1.3em!important; color: white !important;" aria-current="page" href="{{path ('panneau_photovoltaique')}}">Solaire & Photovoltaique</a>
                        </li>

                        <li class="nav-item nav-item-space">
                            <a class="nav-link" style="font-size:1.3em!important; color: white !important;" aria-current="page" href="{{path ('app_article_index_5')}}">Aides & primes</a>
                        </li>

                        <li class="nav-item nav-item-space">
                            <a class="nav-link" style="font-size:1.3em!important; color: white !important;" aria-current="page" href="{{path ('actualite')}}">Actualités</a>
                        </li>

                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <a href="{{path ('app_infos_devis_new_client')}}" > <button type="button" class="btn btn-primary btn-devis exclude-hover" style=" width:200px!important; height:50px; margin-right:4%; border-radius:50px; font-size:15px !important;background: linear-gradient(to right, #004D00FF, #66ff66FF); position: relative; border-color: #1D4851; z-index: 1;">
                                <strong class="btn-text">{{"Demander un devis" | upper}}</strong>
                            </button>
                        </a>


                    </ul>

                </div>
            </div>
        </nav>

        <button id="scrollToTopBtn" class="scroll-to-top" title="Remonter" style="background-color: #1D4851; position: fixed; bottom: 20px; right: 20px; border-color: white;">&#9650;</button>

        <!-- Bouton de défilement Descendre -->
        <button id="scrollToBottomBtn" class="scroll-to-bottom" title="Descendre" style="background-color: #1D4851; position: fixed; bottom: 20px; right: 20px; border-color: white;">&#9660;</button>


    {%endif%}
       
        
          {% if app.user and app.user.isVerified == false %}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
              <strong>
                Votre compte n'est pas activée</strong>, <a href="{{path('resend_verif')}}">renvoyer le lien d'activation</a>
            </div>
          </div>

          {%endif%}
          {% include "main/_flash.html.twig" %}
        {% block body %}
     
        {% endblock %}
    </body>

        {% block javascript %}
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


        {#        <script src="{{ asset('librairies/tarteaucitron/tarteaucitron.js') }}"></script>#}

        {#        <script type="text/javascript">#}
        {#            tarteaucitron.init({#}
        {#            "privacyUrl": "", /* Privacy policy url */#}
        {#            "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */#}

        {#            "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */#}
        {#            "cookieName": "tarteaucitron", /* Cookie name */#}

        {#            "orientation": "middle", /* Banner position (top - bottom) */#}

        {#            "groupServices": false, /* Group services by category */#}
        {#            "showDetailsOnClick": true, /* Click to expand the description */#}
        {#            "serviceDefaultState": "wait", /* Default state (true - wait - false) */#}

        {#            "showAlertSmall": false, /* Show the small banner on bottom right */#}
        {#            "cookieslist": false, /* Show the cookie list */#}

        {#            "closePopup": false, /* Show a close X on the banner */#}

        {#            "showIcon": true, /* Show cookie icon to manage cookies */#}
        {#            //"iconSrc": "", /* Optionnal: URL or base64 encoded image */#}
        {#            "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */#}

        {#            "adblocker": false, /* Show a Warning if an adblocker is detected */#}

        {#            "DenyAllCta" : true, /* Show the deny all button */#}
        {#            "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */#}
        {#            "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */#}

        {#            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */#}

        {#            "removeCredit": false, /* Remove credit link */#}
        {#            "moreInfoLink": true, /* Show more info link */#}

        {#            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */#}
        {#            "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */#}

        {#            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */#}

        {#            "readmoreLink": "", /* Change the default readmore link */#}

        {#            "mandatory": true, /* Show a message about mandatory cookies */#}
        {#            "mandatoryCta": true, /* Show the disabled accept button when mandatory on */#}

        {#            //"customCloserId": "" /* Optional a11y: Custom element ID used to open the panel */#}
        {#        });#}
        {#        </script>#}

        {#<script src="{{ asset('librairies/tarteaucitron/tarteaucitron.js') }}"></script>#}
        {#    <script type="text/javascript">#}
        {#        tarteaucitron.init({#}
        {#            "privacyUrl": "", /* Privacy policy url */#}
        {#            "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */#}
        {#            "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */#}
        {#            "cookieName": "tarteaucitron", /* Cookie name */#}
        {#            "orientation": "middle", /* Banner position (top - bottom) */#}
        {#            "groupServices": false, /* Group services by category */#}
        {#            "showDetailsOnClick": true, /* Click to expand the description */#}
        {#            "serviceDefaultState": "wait", /* Default state (true - wait - false) */#}
        {#            "showAlertSmall": false, /* Show the small banner on bottom right */#}
        {#            "cookieslist": false, /* Show the cookie list */#}
        {#            "closePopup": false, /* Show a close X on the banner */#}
        {#            "showIcon": true, /* Show cookie icon to manage cookies */#}
        {#            "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */#}
        {#            "adblocker": false, /* Show a Warning if an adblocker is detected */#}
        {#            "DenyAllCta": true, /* Show the deny all button */#}
        {#            "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */#}
        {#            "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */#}
        {#            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */#}
        {#            "removeCredit": false, /* Remove credit link */#}
        {#            "moreInfoLink": true, /* Show more info link */#}
        {#            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */#}
        {#            "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */#}
        {#            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */#}
        {#            "readmoreLink": "", /* Change the default readmore link */#}
        {#            "mandatory": true, /* Show a message about mandatory cookies */#}
        {#            "mandatoryCta": true, /* Show the disabled accept button when mandatory on */#}
        {#            //"customCloserId": "" /* Optional a11y: Custom element ID used to open the panel */#}
        {#            "language": "fr" /* Specify the default language */#}
        {#        });#}
        {#    </script>#}

            <script>
                $(document).ready(function () {
                    var scrollToTopBtn = $(".scroll-to-top");
                    var scrollToBottomBtn = $(".scroll-to-bottom");

                    window.onscroll = function () {
                        scrollFunction();
                    };

                    function scrollFunction() {
                        if ($(document).scrollTop() > 20) {
                            scrollToTopBtn.show();
                            scrollToBottomBtn.hide();
                        } else {
                            scrollToTopBtn.hide();
                            scrollToBottomBtn.show();
                        }
                    }

                    scrollToTopBtn.click(function () {
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    });

                    scrollToBottomBtn.click(function () {
                        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                    });
                });




            </script>
                {% endblock %}
    
</html>
