

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}

{% block body %}
{{ include('base.html.twig') }}
<h1 style="text-align:center; color: #1D4851;">Les primes</h1>
<br>
<div style="margin: auto; width: 55%;" >
    <div style="margin-left:auto; margin-right:auto;">
<h4 style="text-align:center; color: #1D4851; text-align:center;"><b>Maximiser l'Efficacité Énergétique : Les Primes d'Isolation comme Incitatif</b></h4>
        <img class="img-top" src="{{ asset('assets/images/ALLICE-SchemaDI_EfficaciteEnergetique.png' ) }}" style="width:500px; margin-left:20%;">

<p style="text-align:center;">Les primes liées à l'isolation constituent un incitatif financier crucial dans la promotion de la durabilité énergétique des habitations. Ces incitations financières visent à encourager les propriétaires à investir dans des améliorations énergétiques, réduisant ainsi la consommation d'énergie et les émissions de gaz à effet de serre.</p>
<br>
<h4 style="text-align:center; color: #1D4851;"><b>Investir dans la Durabilité Environnementale</b></h4>
<img class="img-top" src="{{ asset('assets/images/durabilite-environnemental-removebg-preview.png' ) }}" style="width:500px; margin-left:20%;">
<p style="text-align:center;">En effet, de nombreux gouvernements et organismes environnementaux offrent des primes substantielles pour l'isolation des maisons. Ces primes peuvent couvrir une partie significative des coûts associés à l'installation d'une isolation de qualité. En plus de contribuer à la préservation de l'environnement en réduisant la demande énergétique, l'isolation adéquate améliore le confort intérieur et réduit les coûts de chauffage et de climatisation.</p>
<br>
<h4 style="text-align:center; color: #1D4851;"><b>Un Confort Intérieur Accru et des Économies Substantielles</b></h4>
<img class="img-top" src="{{ asset('assets/images/electricite.jpg' ) }}" style="width:500px; margin-left:20%;">
<p style="text-align:center;">Les critères d'éligibilité pour ces primes varient souvent en fonction du type d'isolation, de la région géographique et des normes énergétiques locales. Certains programmes privilégient l'isolation thermique, tandis que d'autres mettent l'accent sur l'isolation acoustique. De plus, certains gouvernements encouragent spécifiquement l'utilisation de matériaux d'isolation écologiques.</p>
<br>
<h4 style="text-align:center; color: #1D4851;"><b>Une Contribution à l'Économie Durable</b></h4>
<img class="img-top" src="{{ asset('assets/images/economie-durable.jpg' ) }}" style="width:500px; margin-left:20%;">
<p style="text-align:center;">Ces incitations financières ont également un impact économique en stimulant l'industrie de la construction et en créant des emplois dans le secteur de l'énergie durable. Les avantages à long terme incluent la réduction des factures énergétiques des ménages, la diminution de la dépendance aux combustibles fossiles et la réalisation des objectifs environnementaux.</p>
<br>
<h4 style="text-align:center; color: #1D4851;"><b>Un Accompagnement Nécessaire : Professionnels du Bâtiment et Propriétaires Informés</b></h4>
<img class="img-top" src="{{ asset('assets/images/accompagnement.jpeg' ) }}" style="width:500px; margin-left:20%;">
<p style="text-align:center;">Cependant, il est essentiel que les propriétaires soient bien informés sur les différentes primes disponibles et sur la manière de les obtenir. Les professionnels du bâtiment jouent un rôle clé dans ce processus, en conseillant sur les options d'isolation les plus appropriées et en guidant les propriétaires à travers les démarches administratives nécessaires pour bénéficier des incitations financières.</p>
<br>
<h4 style="text-align:center; color: #1D4851;"><b>Conclusion : Les Primes d'Isolation comme Pilier du Développement Durable</b></h4>
<img class="img-top" src="{{ asset('assets/images/prime-isolation.webp' ) }}" style="width:500px; margin-left:20%;">
<p style="text-align:center;">En conclusion, les primes d'isolation sont un levier important pour promouvoir la durabilité dans le secteur du logement. Elles contribuent non seulement à réduire l'impact environnemental, mais également à améliorer la qualité de vie des occupants tout en favorisant le développement économique durable.</p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{{ include('main/accueil.html.twig') }}

{%endblock%}
{%block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%endblock%}